<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="AllowRegular" value="1"/>
    <add key="AllowViolence" value="1"/>
    <add key="AllowSex" value="1"/>
    <add key="AllowOffensive" value="1"/>
    <add key="RelationChoice" value="0"/>
    <add key="MissionChoice" value="0"/>
  </appSettings>
</configuration>