<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="SuitableForChildren" value="1"/>
    <add key="SuitableForAdolescents" value="1"/>
    <add key="SuitableForAdults" value="1"/>
    <add key="SuitableForunoffendable" value="1"/>
    <add key="RelationChoice" value="0"/>
    <add key="MissionChoice" value="0"/>
    <add key="LoadFromBackup" value="0"/>
  </appSettings>
</configuration>